tmp.*
tmp_*
target/
*.f
*.grid
*.grid2
*.hgrid2
*.smf
script.runtimegraphics
run.tar
minvar
rcm_include_in.h
a.out
geo.h.*
grid.*
postsc01
*.ps
in.*
BASETIME
DIPOLTIME
MONITOR
SWMONITOR
PDATA
grid_include.*
gridinfo.storm*